<link rel="stylesheet" href="/css/polls.css" />

<h1 class="display-3">{{userPolls.[0].username}}</h1>


<div class="container-fluid">
  <div class="row">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Option 1</th>
            <th>Option 2</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
        </thead>

        <tbody>
          {{#each userPolls}}
            <tr>
              <td>{{inc @index}}</td>
              <td><a href='/users/view/{{this._id}}'>{{trim this.question}}</a></td>
              <td>{{this.option1.opt}}</td>
              <td>{{this.option2.opt}}</td>
              <td><a href='/users/edit/{{this._id}}'><i class="fa fa-pencil-square" aria-hidden="true"></i></i></a></td>
              <td><a href='/users/delete/{{this._id}}'> <i class="fa fa-trash" aria-hidden="true"></a></td>

            </tr>
          {{/each}}
        </tbody>

      </table>
    </div>
  </div>
</div>

{{#if user}}
    <p><a class="btn btn-primary btn-lg createButton" href="/users/create" role="button"> <i class="fa fa-plus" aria-hidden="true" style="font-size:155%"></i></a></p>
{{/if}}
